html{
    background-color: #ace600;
    height: 1400px;
}

#upper-div{
    margin: auto;
    margin-top: -30px;
    border: 10px solid red;
    border-radius: 20px;
    height: 80px;
    width: 1300px;
    background-color: #ffff99;
}

#twitterbtnsignin{
    position: absolute;
    top: 15px;
    left: 1170px;
}

#twitterbtnsignout{
    position: absolute;
    top: 15px;
    left: 1250px;
    font-size: 1.6em;
}

textarea{
    background-color: yellow;
    color: blue;
    font-size: 1.8em;
    position: absolute;
    top: 225px;
    left: -1px;
}

#upper-div-title{
    color: blue;
    font-family: Arial;
    font-weight: 900;
    position: absolute;
    left: 120px;
}

#main-div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: #ffff99;
    position: absolute;
    top: 120px;
    height: 7000px;
    width: 1300px;
    left: 66px;
}

#voting-poll-div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: #ffff99;
    position: absolute;
    top: 120px;
    height: 1100px;
    width: 1000px;
    left: 66px;
}


#main-div-title{
    border: 20px solid #ace600;
    border-radius: 20px;
    background-color: #9933ff;
    position: absolute;
    top: 80px;
    width: 85%;
    height: 370px;
    z-index: 3;
    left: 82px;
    text-align: center;
}



#newpoll-main-div-title{
    border: 20px solid #ace600;
    border-radius: 20px;
    background-color: #9933ff;
    position: absolute;
    top: 80px;
    width: 85%;
    height: 560px;
    z-index: 3;
    left: 82px;
    text-align: center;
}


form{
    position: absolute;
    top: 80px;
    left: 65px;
}


#form-title{
    position: absolute;
    left: 0px;
    top: 35px;
    color: #ace600;
    font-family: Arial;
    font-weight: bold;
}

#form-options{
    position: absolute;
    left: 0px;
    top: 145px;
    color: #ace600;
    font-family: Arial;
    font-weight: bold;
}


#main-title-span{
    color: orange;
    position:absolute;
    font-weight: bolder;
    font-family: Arial;
    font-size: 6em;
    top: 60px;
    left: 180px;
}

#input-title{
    position: absolute;
    left: 0px;
    top: 105px;
    height: 40px;
    width: 390px;
    background-color: yellow;
    color: blue;
    font-size: 1.8em;
}

#newpoll-main-title-span{
    color: orange;
    position:absolute;
    font-weight: bolder;
    font-family: Arial;
    font-size: 3em;
    top: 20px;
    left: 60px;
}

#main-descrpt-span{
    color: yellow;
    font-weight: bolder;
    font-size: 2em;
    position: absolute;
    top: 210px;
    left: 80px;
    
}


#foodname-div{
    position: absolute;
    width: 510px;
    height: 1000px;
    top: 40px;
    left: 35px;
    margin: auto;
    background-color: #ffff99;
}



#central-div{
    position: absolute;
    top: 530px;
    left: 97px;
    
}

#foodname-span{
    font-size: 4.6em;
    color: blue;
    font-weight: bolder;
    position: absolute;
    top: 45px;
    left: 0px;
    margin: auto;
}


#serving-std-span{
    font-size: 3.6em;
    color: green;
    font-weight: bolder;
    position: absolute;
    top: 135px;
    left: 0px;
    margin: auto;
}

.ingredients{
    border: 10px solid orange;
    height:40px;
    width: 1090px;
    background-color: #a6ff4d;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: blue;
    /*color: #cc5200;*/
}

.ingre-type{
    border: 10px solid red;;
    height:60px;
    width: 1090px;
    background-color: blue;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: yellow;
}

.ingre-name{
    display: inline-block;
    margin-top: 10px;
    
}

#twitterlogout{
    position:absolute;
    top: 50px;
}

h5{
    position:absolute;
    top: 6140px;
    color: blue;
    left: 66px;
}

#home-div-out{
    position: absolute;

    background-color: #99ceff;
    left: 1050px;
}


.block-span{
    position:absolute;
    top: 30px;
    left: 24px;
    font-size: 1.5em;
    
}

.block{
    width: 105px;
    height: 80px;
}

#home-div-in{
    position: absolute;
    background-color: #ace600;
    /*background-color: #99ceff;*/
    left: 910px;
}

#mypolls{
     position: absolute;
     left: 1010px;
     background-color: yellow;
}

#mypolls-span{
    position: absolute;
    left: 7px;
}

#newpoll{
    position: absolute;
    left: 1111px;
    background-color: orange;
}

#newpoll-span{
    position: absolute;
    left: 5px;
}

#newpoll:hover{
    background-color: #ace600;
    
}

#mypolls:hover{
    background-color: #ace600;
    
}

#home-div-in:hover{
    background-color: #ace600;
}

#mypolls-main-div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: #ffff99;
    position: absolute;
    top: 120px;
    height: 580px;
    width: 1300px;
    left: 66px;
}

select{
    
    width: 150px;
    height: 40px;
    font-size: 1.6em;
}

#newpoll-main-div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: #ffff99;
    position: absolute;
    top: 120px;
    height: 770px;
    width: 1300px;
    left: 66px;
}

#underscript-mypolls{
    position: absolute;
    top: 650px;
    left: -10px;
}

#underscript-newpoll{
    position: absolute;
    top: 950px;
}


#submit{
    background-color: blue;
    position: absolute;
    left:780px;
    top: 385px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.4em;
    height: 50px;
}

#chart{
    position: absolute;
    top: 140px;
    left: 560px;
}

#serving_sz{
    color: red;
    position: absolute;
    font-weight: bolder;
    font-size: 2.1em;
    top: 135px;
    left:0px;
    
}

#actual_serving_ct{
    color: red;
    position: absolute;
    font-weight: bolder;
    font-size: 2.1em;
    top: 175px;
    left:0px;
    
}


#idliketovote{
    color: #ff8000;
    position: absolute;
    font-weight: bolder;
    font-size: 1.2em;
    top: 235px;
    left:0px;
}


#votesubmit{
    background-color: blue;
    position: absolute;
    left: -65px;
    top: 400px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.2em;
    height: 30px;
}

#voteselect{
    background-color: white;
    width: 250px;
    height: 40px;
    font-size: 1.6em;
    position: absolute;
    left: -65px;
    top: 325px;
    
}