html{
    background-color: #ace600;
    height: 900%;
}

#upper-div{
    margin: auto;
    margin-top: -30px;
    border: 10px solid red;
    border-radius: 20px;
    height: 80px;
    width: 90%;
    background-color: #ffff99;
}

#twitterbtnsignin{
    position: absolute;
    top: 15px;
    left: 1170px;
}

#twitterbtnsignout{
    position: absolute;
    top: 15px;
    left: 1250px;
    font-size: 1.6em;
}

#upper-div-title{
    color: blue;
    font-family: Arial;
    font-weight: 900;
    position: absolute;
    left: 120px;
}

#main-div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: #ffff99;
    position: absolute;
    top: 120px;
    height: 860%;
    width: 90%;
    left: 66px;
}

#main-div-title{
    border: 20px solid #ace600;
    border-radius: 20px;
    background-color: #9933ff;
    position: absolute;
    top: 80px;
    width: 85%;
    height: 370px;
    z-index: 3;
    left: 82px;
    text-align: center;
}

#main-title-span{
    color: orange;
    position:absolute;
    font-weight: bolder;
    font-family: Arial;
    font-size: 6em;
    top: 60px;
    left: 180px;
}

#main-descrpt-span{
    color: yellow;
    font-weight: bolder;
    font-size: 2em;
    position: absolute;
    top: 210px;
    left: 80px;
    
}

#central-div{
    position: absolute;
    top: 530px;
    left: 97px;
    
}

.ingredients{
    border: 10px solid orange;
    height:40px;
    width: 1090px;
    background-color: #a6ff4d;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: blue;
    /*color: #cc5200;*/
}

.ingre-type{
    border: 10px solid red;;
    height:60px;
    width: 1090px;
    background-color: blue;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: yellow;
}

.ingre-name{
    display: inline-block;
    margin-top: 10px;
    
}

#twitterlogout{
    position:absolute;
    top: 50px;
}