html{
    background-color: #e5ffcc;
    height: 1400px;
    text-align: center;
    position: absolute;
}

#upper-div{
    margin: auto;
    border: 10px solid green;
    border-radius: 20px;
    height: 80px;
    width: 1300px;
    background-color: #b3d7ff;
    position: absolute;
    top:-25px;
    z-index: 3;
}

#twitterbtnsignin{
    position: relative;
    left: 535px;
    top: 10px;
    z-index: 7;
    
}

#twitterbtnsignout{
    position: relative;
    top: 5px;
    left: 560px;
    font-size: 1.6em;
    z-index: 7;
    pointer-events:auto;
}



#upper-div-title{
    color: blue;
    font-family: Arial;
    font-weight: 900;
    position: absolute;
    left: 70px;
}

#main-div{
    border: 10px solid green;
    border-radius: 20px;
    background-color: #ffff99;
    position: relative;
    margin: auto;
    top: 45px;
    height: 7000px;
    width: 1300px;
}

#voting-poll-div{
    border: 10px solid green;
    border-radius: 20px;
    background-color: #ffff99;
    position: relative;

    top: 75px;
    margin: 0 auto;

    height: 1100px;
    width: 1300px;
    
}


#main-div-title{
    border: 20px solid green;
    border-radius: 20px;
    background-color: #e5ffcc;
    position: absolute;
    top: 80px;
    width: 85%;
    height: 370px;
    z-index: 3;
    left: 82px;
    text-align: center;
}



#newpoll-main-inner-div{
    border: 20px solid green;
    border-radius: 20px;
    background-color: #b3d7ff;
    position: absolute;
    top: 80px;
    width: 1100px;
    height: 710px;
    z-index: 3;
    left: 82px;
    text-align: center;
    
}


form{
    position: absolute;
    top: 80px;
    left: 65px;
}


#form-title{
    position: absolute;
    left: 0px;
    top: 35px;
    color: green;
    font-family: Arial;
    font-weight: bold;
}

#form-options{
    position: absolute;
    left: 0px;
    top: 145px;
    color: green;
    font-family: Arial;
    font-weight: bold;
}


#main-title-span{
    color: blue;
    position:absolute;
    font-weight: bolder;
    font-family: Arial;
    font-size: 6em;
    top: 60px;
    left: 165px;
}

#foodname-form{
    position: absolute;
    left: 0px;
    top: 105px;
    height: 40px;
    width: 390px;
    background-color: yellow;
    color: blue;
    font-size: 1.8em;
    z-index: 1;
}


#form-div{
    position: absolute;
    top: 50px;
    z-index: 3;
    margin: 0 auto;
}
#serving-stnd{
    position: absolute;
    left: 0px;
    top: 150px;
    color: green;
    font-size: 1.1em;
    width: 400px;
    height: 240px;
    text-align: left;
}

#serving-stnd-input{
    
    height: 40px;
    margin-top: 0px;
    color: blue;
    font-size: 0.8em;
    width: 280px;
}

.customval{
    color: blue;
    font-size: 0.8em;
    font-weight: bolder;
}

#radio-div{
    position: absolute;
    top: 300px;
    width: 900px;
    height: 350px;
    text-align: left;
    
}

.radio-title{
    font-size: 1.8em;
    color: green;
    font-weight: bolder;
}

#newpoll-main-title-span{
    color: orange;
    position:absolute;
    font-weight: bolder;
    font-family: Arial;
    font-size: 3em;
    top: 45px;
    left: 60px;
}

#main-descrpt-span{
    color: orange;
    font-weight: bolder;
    font-size: 2em;
    position: absolute;
    top: 210px;
    left: 80px;
    
}


#foodname-div{
    position: absolute;
    width: 510px;
    height: 1200px;
    top: 40px;
    left: 60px;
    margin: auto;
    text-align: left;
}



#central-div{
    position: absolute;
    top: 530px;
    left: 97px;
    
}

#foodname-span{
    font-size: 4.6em;
    color: blue;
    font-weight: bolder;
    position: absolute;
    top: 45px;
    left: 0px;
    margin: auto;
    text-align: left;
}


#serving-std-span{
    font-size: 3.6em;
    color: green;
    font-weight: bolder;
    position: absolute;
    top: 135px;
    left: 0px;
    margin: auto;
}

.ingredients{
    border: 5px solid green;
    height:40px;
    width: 1090px;
    background-color: #e5ffcc;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: blue;
    /*color: #cc5200;*/
}

.ingre-type{
    border: 10px solid green;;
    height:60px;
    width: 1090px;
    background-color: blue;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: yellow;
}

.ingre-name{
    display: inline-block;
    margin-top: 10px;
    
}

#twitterlogout{
    position:absolute;
    top: 50px;
}

h5{
 
    color: blue;
    margin: auto;
 
}


#ode-h5-div{
    position:absolute;
    width: 100%;
    height: 140px;
    top: 1100px;
    
}


#home-div-out{
    position: absolute;

    background-color: #e5ffcc;
    left: 973px;
}


.block-span{
    position:absolute;
    top: 30px;
    left: 24px;
    font-size: 1.5em;
    
}

.block{
    width: 105px;
    height: 80px;
}

#home-div-in{
    position: absolute;
    background-color: #e5ffcc;
    /*background-color: #99ceff;*/
    left: 830px;
}

#mypolls{
     position: absolute;
     left: 935px;
     background-color: #ffff99;
     pointer-events: auto;
}

#mypolls-span{
    position: absolute;
    left: 7px;
}

#newpoll{
    position: absolute;
    left: 1040px;
    background-color: #ffb366;
    pointer-events: auto;
}

#newpoll-span{
    position: absolute;
    left: 5px;
}

#newpoll:hover{
    background-color: #ace600;
    
}

#mypolls:hover{
    background-color: #ace600;
    
}

#home-div-in:hover{
    background-color: #ace600;
}

#mypolls-main-div{
    border: 10px solid green;
    border-radius: 20px;
    background-color: #ffff99;
    position: relative;
    margin: auto;
    top: 45px;
    height: 580px;
    width: 1300px;
   
}

select{
    
    width: 150px;
    height: 40px;
    font-size: 1.6em;
}

#newpoll-servings{
    
    width: 200px;
    height: 40px;
    font-size: 1.6em;
}

#newpoll-main-div{
    border: 10px solid green;
    border-radius: 20px;
    background-color: #ffff99;
    position: relative;
    margin: auto;
    top: 45px;
    height: 930px;
    width: 1300px;
    z-index: 1;
}



#submit{
    background-color: blue;
    position: absolute;
    left: 770px;
    top: 460px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.4em;
    height: 50px;
    z-index: 7;
}

#chart{
    position: absolute;
    top: 240px;
    left: 560px;
    text-align: center;
    width: 700px;
    height: 763px;
}

#serving_sz{
    color: red;
    position: absolute;
    font-weight: bolder;
    font-size: 2.1em;
    top: 135px;
    left:0px;
    
}

#actual_serving_ct{
    color: red;
    position: absolute;
    font-weight: bolder;
    font-size: 2.1em;
    top: 175px;
    left:0px;
    
}


#idliketovote{
    color: #ff8000;
    position: absolute;
    font-weight: bolder;
    font-size: 1.2em;
    top: 235px;
    left:0px;
}


#votesubmit{
    background-color: blue;
    position: absolute;
    left: -65px;
    top: 70px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.2em;
    height: 30px;
}

#votesubmit-in{
   background-color: blue;
    position: absolute;
    left: -65px;
    top: 310px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.2em;
    height: 30px;
}

#voteselect{
    background-color: white;
    width: 250px;
    height: 40px;
    font-size: 1.6em;
    position: absolute;
    left: -65px;
    
}




#totalvotes{
    display: inline-block;
    position: relative;
    color: green;
    font-size: 2.1em;
    top:368px;
    font-weight: bolder;
}

#tweet-but-container{
    
    position: absolute;
    left: 0px;
    top: 660px;
}

.customval{
    background-color: gray;
    height: 34px;
}

h3{
    font-weight: 1900;
}

#inner-form-div{
    background-color: #88ff4d;
    width: 1200px;
    height: 950px;
    z-index: 9;
    position: relative;
    top: -160px;
    
     margin: 0 auto;
     border: 30px solid yellow;
     margin-left: -85px;
     visibility: visible;
     text-align: middle;
}

#firstvote-h1{
    font-weight: 1200;
    font-family: Arial;
    font-size: 4em;
    position: relative;
    top: -80px;
    
    text-align: middle;
}

#newpoll-submit-img{
    position: absolute;
    top: 195px;
    left: 30px;
}

#username{
    position: relative;
    left: -250px;
    top: -70px;
    color: black;
}

#newpoll-submit-foodname{
    position: relative;
    color: green;
    font-size: 4em;
    vertical-align: middle;
    display: inline-block;
    top: -45px;

}

#newpoll-serving-stnd{
    position: relative;
    color:red;
    font-weight: bolder;
    font-family: Arial;
    top: -110px;
    font-size: 2.5em;
  
}

#newpoll-servings{
    
    position: relative;
    font-weight: bolder;
    font-family: Arial;
    top: -120px;
    left: 0px;
}

#newpollsubmit-submit{
    background-color: blue;
    position: relative;
    top: -120px;
    left: 15px;
    color: white;
    font-weight: bold;
    width: 140px;
    font-size: 1.4em;
    height: 50px;

}

#inner-form-content{
    background-color: #ffdab3;
    position: absolute;
    top: 150px;
    left: 210px;
    height: 675px;
    width: 880px;
    border: 10px solid black;
    border-radius: 50%;
}

#userpoll-ckbox{
    position: absolute;
    top: 225px;
    color: black;
    left: -65px;
}

#userpoll-ckbox-text{
    color: black;
    background-color: yellow;
    border: 9px solid blue;
    width: 280px;
    padding-left: 20px;
    position: absolute;
    top: 185px;
    left: -30px;
}

#dbupdate-status-div{
    margin: 0 auto;
    position: absolute;
    top: 121px;
    left: 350px;
    z-index: 15;
}

#dbupdate-status-h1{
    text-align: center;
}

#inner-form-foodname-div{
    width: 720px;
    height:385px;
    position: relative;
    top: 145px;
    left: 0px;
    display: inline-block;
}

#userpolls-div{
    border: 10px solid #ff6666;
    height:60px;
    width: 1090px;
    background-color: #bf80ff;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: Yellow;
    box-shadow: 10px 10px 5px #ff66ff;
    text-shadow: 2px 2px #FF0000;
}

.userpolls-ingre-type{
    border: 10px solid green;
    height:60px;
    width: 1090px;
    background-color: blue;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    box-shadow: 10px 10px 5px Yellow;
    text-shadow: 2px 2px gray;
}

.userpolls-ingredients{
    border: 10px solid orange;
    height:60px;
    width: 1090px;
    background-color: #99ccff;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: purple;
    box-shadow: 10px 10px 5px Yellow;
    text-shadow: 2px 2px white;
}

#uservotes-div{
    border: 10px solid gray;
    position: relative;
    height:60px;
    width: 1090px;
    background-color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: green;
    top: 100px;
}

.uservotes-ingre-type{
    border: 10px solid #006699;
    height:60px;
    width: 1090px;
    background-color: #b3ffcc;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color:green;
 
    position: relative;
    top: 100px;
}

.uservotes-ingredients{
    border: 5px solid green;
    height:40px;
    width: 1090px;
    background-color: #e5ffcc;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    color: blue;
    /*color: #cc5200;*/
     position: relative;
    top: 100px;
}

select{
    font-weight: bolder;
}

input{
    font-weight: bolder;
}

#usermade-votes-div{
    width: 1300px;
    height: 500px;
    background-color: white;
    z-index: 10;
    position: absolute;
    top: 1600px;
    border: 10px solid yellow;
    background-color: #66ffcc;
    color: blue;
    font-weight: bolder;
    font-size: 5em;
    text-shadow: 5px 5px white;
    margin: 0 auto;
    
}

.vote-div{
    border: 10px solid blue;
    height:60px;
    width: 1090px;
    background-color: yellow;
    text-align: center;
    font-size: 0.3em;
    font-weight: bolder;
    color: black;
    /*color: #cc5200;*/
     position: relative;
     text-shadow: none;
    top: 30px;
    margin: 0 auto;
}

.vote-option-span{
    color: red;

}

.vote-timestamp-span{
    font-size: 0.8em;
}

#delete-button-div{
    background-color: yellow;
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 3em;
    position: absolute;
    left: 1170px;
    top: 40px;
    font-weight: bolder;
    font-family: Arial;
    border: 10px solid blue;
}

#delete-poll-span{
    position: absolute;
    top: 110px;
    left: 1160px;
}